<!-- <nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-semibold" routerLink="/"
      >E-commerce Website</a
    >
    <button routerLink="/" class="btn btn-danger text-light">Back</button>
  </div>
</nav> -->

<div class="container">
  <div class="row product-detail">
    <div class="col-sm-3">
      <img class="product-img" src="{{ productDate?.images[0] }}" alt="img" />
      <div class="btns">
        <button class="btn btn-primary">Buy Now</button>&nbsp;
        <button
          *ngIf="showAdd"
          (click)="addToCart(productDate)"
          class="btn btn-success"
        >
          Add To Cart
        </button>
        <button
          *ngIf="showRemove"
          (click)="remove(productDate)"
          class="btn btn-info text-light"
        >
          Remove
        </button>
      </div>
    </div>

    <div class="col-sm-8">
      <div>
        <h1>{{ productDate?.title }}</h1>
        <p class="text-success">Special Price</p>
        <h3>Price : {{ productDate?.price | currency }}</h3>
        <strong>Category: &nbsp;{{ productDate?.category }}</strong
        ><br />
        <strong>Description :</strong><br />
        <p>{{ productDate?.description }}</p>
        <p class="text-success">
          Discount: {{ productDate?.discountPercentage }}%
        </p>
        <strong>Stocks: {{ productDate?.stock }} Units left</strong>
      </div>
    </div>
  </div>
</div>
