<!-- <nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-semibold" routerLink="/"
      >E-commerce Website</a
    >
    <button routerLink="/" class="btn btn-danger text-light">Back</button>
  </div>
</nav> -->

<div class="container mt-5">
  <div class="row product-detail">
    <div class="card mb-3 w-100">
      <div class="row g-0">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <img
            class="img-fluid rounded-start"
            src="{{ productDate?.images[0] }}"
            alt="img"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="card-title border-bottom border-dark text-center">
              <h2>{{ productDate?.title }}</h2>
              <p class="text-success fw-bold">Special Price</p>
            </div>
            <div class="card-text pb-3">
              <h4>Price : ${{ productDate?.price }}</h4>
              <p class="fw-bold">
                Category: {{ productDate?.category | titlecase }}
              </p>
              <strong>Description :</strong>
              <p>{{ productDate?.description }}</p>
              <div class="text-success fw-bold">
                Discount: {{ productDate?.discountPercentage }}%
              </div>
              <strong>Stocks: {{ productDate?.stock }} Units left</strong>
            </div>
          </div>
          <div class="card-footer pt-2 text-center">
            <button
              *ngIf="showAdd"
              (click)="addToCart(productDate)"
              class="btn btn-success"
            >
              Add To Cart
            </button>
            <button
              *ngIf="showRemove"
              (click)="remove(productDate)"
              class="btn btn-warning text-light"
            >
              Remove</button
            >&nbsp;
            <button class="btn btn-danger text-light" routerLink="/">
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
