<!-- Product Display Part -->
<div class="container-fluid bg-dark">
  <div class="row justify-content-center">
    <div
      *ngFor="let product of products.products"
      class="card mh-100 p-0 pb-2 m-2 mt-4"
      style="width: 18rem"
    >
      <img [src]="product.images[0]" class="card-img-top" alt="img" />
      <div
        class="card-body text-center border-bottom border-top border-secondary mb-2 mt-1"
      >
        <p class="card-title fs-5 fw-bold text-success">
          {{ product.title }}
        </p>
        <h4 class="card-text fw-bold">${{ product.price }}</h4>
      </div>
      <div class="btn-group btn-group-sm w-50 m-auto">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          routerLink="/product-details/{{ product.id }}"
        >
          <i class="fa fa-solid fa-info"></i>
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="addToCart(product)"
        >
          <i class="fa fa-cart-plus"></i>
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="remove(product)"
        >
          <i class="fa fa-remove"></i>
        </button>
      </div>
    </div>
  </div>
</div>
